/*side menu---------------------------------------------------------------*
/*hamburger button*/
.bar .button.button-clear {
    /*color: #000;*/
}
/*diagrams---------------------------------------------------------------*/
/*charts container */
.line-diagram{
    height: 300px;
    width: 100%;
    display:block;
}

/*configuration---------------------------------------------------------*/
/*span for measurement unit idications (MB, %)*/
span.measurement-unit{
	margin-left:-10px;
	padding-right:50%;
}

input.toggle{
	padding-right:50%;	
}

/*dividers*/
div.primary-divider{
	background-color:#777;
	color:white;
	text-align:center;
}
div.secondary-divider{
	color:#4a87ee;
	background-color:white;
	padding-left:22px;
	font-size:18px;
	font-weight:500;	
}
span.primary-label{
	color:#4a87ee;
	background-color:white;
	/*padding-left:15px;*/
	font-size:18px;	
	font-weight:500;
}
/*when ng-pattern is not matching regex*/
.ng-invalid  { border: 1px solid red; }

div.list{
	margin-bottom:0px;
}

/*ionic loading spinner*/
.spinner-android {
    stroke: white;
}
/*ionic loading container*/
.loading-container .loading {
    padding:25px;
    background-color: rgba(37, 36, 32, 0.7);
}

/*ionic popup & loading----------------------------------------------------*/
/*ionic popup*/
.popup-buttons .button
{
  background-color:orange!important;
  text-transform:none!important;
  white-space:normal!important;
}
/*ionic loading spinner*/
.spinner-android {
    stroke: white;
}
/*ionic loading container*/
.loading-container .loading {
    padding:25px;
    background-color: rgba(37, 36, 32, 0.7);
}
